@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: monospace, system-ui, sans-serif;
  }
}

@layer utilities {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }
  .clip-ellipse {
    clip-path: ellipse(50% 30% at 50% 30%);
  }
}

html {
  @apply font-montserrat;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
